NODE_ENV=local
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/poc?schema=public
REDIS_PORT=6379
REDIS_HOST=localhost
PORT=3001
JWT_SECRET=your-super-secret-jwt-key-change-in-production
JWT_REFRESH_TOKEN_SECRET=your-super-secret-jwt-refresh-key-change-in-production
JWT_ACCESS_TOKEN_EXPIRES_IN=55min
JWT_REFRESH_TOKEN_EXPIRES_IN=7d